{% extends "base.html.twig" %}
{% block body %}
    <br><br><br><br><br><br>
    <br><br><br><br><br><br>
    <div style="text-align: center">
        <h1>Reservation effectuer avec succées.</h1>
        <a href="{{ path('app_nom') }}" class="book-a-table-btn scrollto d-none d-lg-flex">Bach to home</a>
    </div>
{% endblock %}